<!-- ./views/layouts/main.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/custom.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">

</head>

<body class="bg-light">
  <!-- navigation -->
  <nav class="navbar navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
      {{#if isAuthenticated}} {{user.name}}'s {{/if}}
      restaurant List</a>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-outline-light">LogOut</a>
      {{else}}
      <a href="/users/logout" class="btn btn-outline-light">LogIn</a>
      {{/if}}
    </div>
  </nav>
<main>
  <div class="container mt-3">
    {{{ body }}}
  </div>
</main>
<script src="/javascripts/jquery-3.6.0.min.js"></script>
<script src="/javascripts/popper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="https://kit.fontawesome.com/4d70e5d492.js" crossorigin="anonymous"></script>
</body>

</html>